	<footer>
		<div class="boxfooter">
			<div class="text"><div class="text-left">©2014 Overtech tecnología S.A.</div></div>
			<div class="social"> 
				<div class="s1"></div>
				</a> <a href="https://twitter.com/#" target="_blank">
				<div class="s2"></div>
				</a> <a href="https://www.facebook.com/#" target="_blank">
				<div class="s3"></div>
				</a> </div>
			</div>
	</footer>