{% extends 'TheClickCmspaginasBundle:Default:main.html.twig' %}
{% block contenido %}
 	<div id="page">
		<div class="content">
		
		<div class="box-slogan">
			<h3>Soluciones de <br> <span class="red">Gestión Telefónica</span></h3>
		</div>
		<div class="box-acceso">
			<span class="h1-clientes">Acceso Clientes</span>
				<br>
				<p>Rut</p><input class="textbox" placeholder="" name="" type="text">
				<p>Clave</p><input class="textbox" placeholder="" name="" type="password">
				<div style="clear:both"></div>
				<p class="underline"><a href="#">Regístrate Aquí</a></p>
				<input id="enviar" class="button" type="submit" value="&#8250; Enviar" name="Enviar">
		</div>
		
<div id="main">
			
			<div class="box-maps-details"> 
				<section id="pais-01">
					<div class="title"><h5>Chile</h5></div>
					<br><br><br>
						<p>
						Av. Vitacura 2808 Piso 12<br>
						Las Condes – Santiago<br>
						MC. 56-2- 2448 28 00<br>
						Fax: 56-2- 2448 28 01<br><br>
						Contacto ventas: Sr. Rodrigo Tomicic<br>
						e-mail ventas: ventaschile@overtechgroup.com<br><br>
						Contacto soporte: Sr. Mario Riera<br>
						e-mail soporte: soportechile@overtechgroup.com<br>
						<hr>
<ul id="js-news" class="js-hidden">
    <li class="news-item"><a href="#">This is the 1st latest news item.</a></li>
    <li class="news-item"><a href="#">This is the 2nd latest news item.</a></li>
    <li class="news-item"><a href="#">This is the 3rd latest news item.</a></li>
    <li class="news-item"><a href="#">This is the 4th latest news item.</a></li>
</ul>
						</p>
					<span id="cerrar-01"></span>
				</section>
			</div>
			<div class="box-maps-details"> 
				<section id="pais-02">
					<div class="title"><h5>PAIS 2</h5></div>
					<br><br><br>
						<p>
						Av. Vitacura 2808 Piso 12<br>
						Las Condes – Santiago<br>
						MC. 56-2- 2448 28 00<br>
						Fax: 56-2- 2448 28 01<br>
						<br>
						Contacto ventas: Sr. Rodrigo Tomicic<br>
						e-mail ventas: ventaschile@overtechgroup.com<br>
						<br><br>
						Contacto soporte: Sr. Mario Riera<br>
						e-mail soporte: soportechile@overtechgroup.com<br>
						</p>
					<span id="cerrar-02"></span>
				</section>
			</div>
			<div class="box-maps-details"> 
				<section id="pais-03">
					<div class="title"><h5>PAIS 3</h5></div>
					<br><br><br>
						<p>
						Av. Vitacura 2808 Piso 12<br>
						Las Condes – Santiago<br>
						MC. 56-2- 2448 28 00<br>
						Fax: 56-2- 2448 28 01<br>
						<br>
						Contacto ventas: Sr. Rodrigo Tomicic<br>
						e-mail ventas: ventaschile@overtechgroup.com<br>
						<br><br>
						Contacto soporte: Sr. Mario Riera<br>
						e-mail soporte: soportechile@overtechgroup.com<br>
						</p>
					<span id="cerrar-03"></span>
				</section>
			</div>
			<div class="box-maps-details"> 
				<section id="pais-04">
					<div class="title"><h5>PAIS 4</h5></div>
					<br><br><br>
						<p>
						Av. Vitacura 2808 Piso 12<br>
						Las Condes – Santiago<br>
						MC. 56-2- 2448 28 00<br>
						Fax: 56-2- 2448 28 01<br>
						<br>
						Contacto ventas: Sr. Rodrigo Tomicic<br>
						e-mail ventas: ventaschile@overtechgroup.com<br>
						<br><br>
						Contacto soporte: Sr. Mario Riera<br>
						e-mail soporte: soportechile@overtechgroup.com<br>
						</p>
					<span id="cerrar-04"></span>
				</section>
			</div>
			<div class="box-maps-details"> 
				<section id="pais-05">
					<div class="title"><h5>PAIS 5</h5></div>
					<br><br><br>
						<p>
						Av. Vitacura 2808 Piso 12<br>
						Las Condes – Santiago<br>
						MC. 56-2- 2448 28 00<br>
						Fax: 56-2- 2448 28 01<br>
						<br>
						Contacto ventas: Sr. Rodrigo Tomicic<br>
						e-mail ventas: ventaschile@overtechgroup.com<br>
						<br><br>
						Contacto soporte: Sr. Mario Riera<br>
						e-mail soporte: soportechile@overtechgroup.com<br>

						</p>
					<span id="cerrar-05"></span>
				</section>
			</div>
			<div class="box-maps-details"> 
				<section id="pais-06">
					<div class="title"><h5>PAIS 6</h5></div>
					<br><br><br>
						<p>
						Av. Vitacura 2808 Piso 12<br>
						Las Condes – Santiago<br>
						MC. 56-2- 2448 28 00<br>
						Fax: 56-2- 2448 28 01<br>
						<br>
						Contacto ventas: Sr. Rodrigo Tomicic<br>
						e-mail ventas: ventaschile@overtechgroup.com<br>
						<br><br>
						Contacto soporte: Sr. Mario Riera<br>
						e-mail soporte: soportechile@overtechgroup.com<br>
						</p>
					<span id="cerrar-06"></span>
				</section>
			</div>
			<div class="box-maps-details"> 
				<section id="pais-07">
					<div class="title"><h5>PAIS 7</h5></div>
					<br><br><br>
						<p>
						Av. Vitacura 2808 Piso 12<br>
						Las Condes – Santiago<br>
						MC. 56-2- 2448 28 00<br>
						Fax: 56-2- 2448 28 01<br>
						<br>
						Contacto ventas: Sr. Rodrigo Tomicic<br>
						e-mail ventas: ventaschile@overtechgroup.com<br>
						<br><br>
						Contacto soporte: Sr. Mario Riera<br>
						e-mail soporte: soportechile@overtechgroup.com<br>
						</p>
					<span id="cerrar-07"></span>
				</section>
			</div>	
				<div class="box-maps">
				<div class="box-maps-pais-01"></div>
				<div class="box-maps-pais-02"></div>
				<div class="box-maps-pais-03"></div>
				<div class="box-maps-pais-04"></div>
				<div class="box-maps-pais-05"></div>
				<div class="box-maps-pais-06"></div>
				<div class="box-maps-pais-07"></div>
				<img src="{{asset('bundles/theclickcmspaginas/img/maps.png')}}">
				</div>
			</div>
		</div>
	</div>
	
	<section id="playdiv"> <img src="{{asset('bundles/theclickcmspaginas/img/btnPlay.png')}}" alt=""> </section>
	<!-- Mascara de video y funciones -->
	<div id="mascara">
		<div id="todalapantalla-capa" class="d"data-fullscreen="{&quot;size&quot;: {&quot;width&quot;: 960, &quot;height&quot;: 540}}" style="left: -93px; top: 0px; width: 1470.2222222222222px; height: 827px;">
	
			
			<div id="videoH"> 
					<div id="contenedorVideo">
					</div>
			</div>  
		</div>
	</div>
{% endblock %}